name: AWS Lab 3 Testing

on:
  push:
    branches:
      - main
jobs:
  run-pytest:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/githubconnect
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"    
      - name: Install AWS SAM CLI
        run: |
          python -m pip install --upgrade pip
          pip install aws-sam-cli
      - name: SAM Build
        run: |
          sam build
          sam deploy \
              --stack-name coderoad-lab-3 \
              --region us-east-1 \
              --capabilities CAPABILITY_IAM \
              --resolve-s3 \
              --no-confirm-changeset \
              --no-fail-on-empty-changeset
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install boto3 botocore pytest requests
      - name: Run pytest
        env:
          AWS_REGION: us-east-1
          STACK_NAME: coderoad-lab-3
        run: |
          pytest -vv -rA tests/test_lab3.py